<section class="review">
  <% user = User.find review.user_id %>
  <div class="header">
    <span class="review-rating">Rating:
      <% (1..5).each do |num| %>
        <% if num <= review.rating %>
          <span class="glyphicon glyphicon-star yellow"></span>
        <% else %>
          <span class="glyphicon glyphicon-star-empty yellow"></span>
        <% end %>
      <% end %>
    </span>
    <span class="review-info">By <b><%= user.first_name %> <%= user.last_name%></b> on <%= review.created_at %>
    </span>
  </div>
  <p class="review-description"><%= review.description%></p>
  <% if current_user && review.user_id == current_user.id %>
  <%= link_to 'Delete Review', [@product, review], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"  %>
  <% end %>
</section>

